---
layout: page
title: Projects
permalink: /projects/
---

<div class="mainPage">
    <div class="card-container">
also: car descriptions 
car audit


OpenAI GPT-4o-mini, Streamlit
Project Name: Car Advertisement Description Generator
Developing a tool to generate descriptions for car advertisements, with the project still ongoing.
Distilled the OpenAI GPT-4o-mini model to enhance the quality of generated descriptions.
Created a quick prototype using Streamlit for company testing and feedback.


Streamlit, OpenAI
Project Name: Car Inspection Report Generator
Developed a Streamlit web page to assist the team in generating car inspection report texts.
Replaced predefined sentences with an interactive environment where users input inspection data to generate unique text.
Utilized Streamlit and OpenAI to create a dynamic and user-friendly interface.

created a web page in streamlit to help team generate the text of car inspection reports. Istead of using predefined sentences that will create same similar texted created an environment where the user can input the data from the inspection and it will generate the text. 
used streamlit, openai  

developing a tool that will generate descriptions for car advertisements. 
build a tool that will generate descriptions for car advertisements with . Destilled openai gpt-4o-mini model so it generates better descriptions. creted quick prototype on streamlit so it can be used by the company and tested. 

{% include projectDesc.html
name="Automated Vehicle Feature Recognition"
tools="Python, OpenAI, Perplexity AI, AWS, PyTorch"
%}
<ul>
   <li>Help on improving a hierarchical neural network system for automated vehicle feature detection using transfer learning </li>
   <li>Engineered an end-to-end pipeline for automated dataset creation and labeling using Perplexity AI and OpenAI </li>
   <li>Added new classifiers on top of pre-trained feature extractors for specific vehicle characteristics
   </li>
   <li>Improved system efficiency through code optimization</li>
</ul>



      



Spearheaded the development of an automated call processing pipeline that enhanced data organization and workflow
efficiency by automating the transcription, summarization, translation into Czech, classification, and sentiment
analysis of company calls. Leveraged AWS technologies, including AWS Transcribe, AWS Lambda, and SQS, to seamlessly
integrate with Salesforce, automatically creating call tasks and assigning them to the appropriate opportunities.
Utilized OpenAI for advanced call processing, ensuring comprehensive data capture and analysis. Successfully executed
the project independently.

      Project Description
      Spearheaded an automated call processing pipeline leveraging AWS Transcribe, AWS Lambda SQS.
      Integrated OpenAI for call transcription, summarization, translation into Czech, classification, and sentiment analysis.
      Improved workflow efficiency and data organization by automatically creating call tasks in Salesforce and assigning them
      to the correct opportunities.
      
         {% capture proj1Url %}{{ site.baseurl }}/animeProject{% endcapture %}
         {% capture proj1UrlImg %}{{ site.baseurl }}/assets/images/anime.webp{% endcapture %}
        {% include card.html 
            link=proj1Url
            image=proj1UrlImg
            alt="Project Image" 
            title="Anime Recommendation System" 
            description="Developed a comprehensive anime recommendation system applying five different methodologies, including Item-Based Collaborative Filtering and Synopsis-Based Recommendation, to accommodate diverse user preferences." 
            hashtags="#CollaborativeFiltering #SynopsisMatching #AttributeBasedFiltering"
         %}

         {% capture proj1Url %}{{ site.baseurl }}/unblur{% endcapture %}
         {% capture proj1UrlImg %}{{ site.baseurl }}/assets/images/musicSheet.jpg{% endcapture %}
         {% include card.html 
            link=proj1Url
            image=proj1UrlImg
            alt="Project Image" 
            title="Music Sheet Unblur" 
            description="Designed a PyTorch-based CNN model to enhance the clarity of blurred music sheets, improving readability and performance for musicians." 
            hashtags="#DataScience #MachineLearning"
         %}

         {% capture proj1Url %}{{ site.baseurl }}/sentiment{% endcapture %}
         {% capture proj1UrlImg %}{{ site.baseurl }}/assets/images/sentiment.PNG{% endcapture %}
         {% include card.html 
            link=proj1Url
            image=proj1UrlImg
            alt="Project Image" 
            title="Ratings Sentiment Analysis" 
            description="This Kaggle project investigates an Amazon toy category dataset to reveal how product ratings are influenced by reviews, seller information, and product descriptions, utilizing sentiment analysis to predict ratings impact." 
            hashtags="#DataScience #MachineLearning"
         %}

         {% capture proj1Url %}{{ site.baseurl }}/viz-cnn{% endcapture %}
         {% capture proj1UrlImg %}{{ site.baseurl }}/assets/images/visualization.PNG{% endcapture %}
         {% include card.html 
            link=proj1Url
            image=proj1UrlImg
            alt="Project Image" 
            title="Visualization of Neural Networks" 
            description="Utilized libraries to apply dimensionality reduction techniques such as PCA, t-SNE, and UMAP to visualize 10-dimensional image representations from the MNIST dataset, offering insights into neural network image classification." 
            hashtags="#DataScience #MachineLearning"
         %}



      </div>
</div>