.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

.content {
    flex-grow: 1; /* Takes the remaining width */
    margin-left: 5vw; /* 25 sidebar width + 5 for open space */
    margin-right: 5vw; /* Equal to the width of the sidebar */
    font-family: 'Noto Sans', sans-serif;
    
  
}
body {
    display: block;
    margin: 0; /* Removes default margin */
    height: 100vh; /* Sets body to full viewport height */
    padding: 0; 
}

.header{
    display: flex; 
    align-items: center; 
    margin-left: 0; 
    margin-top: 1vh;
    margin-bottom: 0vh;

}

.portraitImg{
    width: 34vw
}

.landscapeImg{
    width: 60vw
}
.landscapeImg, .portraitImg{
    margin-top: 2vh;
    margin-bottom: 2vh;

}
.aboutme{
    margin-bottom: 0;
}
.two-columns {
    display: flex;
    gap: 2rem;
    /* Adjust spacing between columns as needed */
}

.column {
    flex: 1;
    /* Each column takes equal width */
}
@media (max-width: 768px) { /* small screen */
    .content {
        margin-left: 5vw; /* Adjusts the left margin to match the reduced sidebar or provide some spacing */
        margin-right: 5vw; /* Ensures there's always a minimum margin on the right, regardless of viewport width */
        margin-top: 14vw; /* 8 for toggle bar and 2 for space between text and toggle*/
    }
    .responsiveImg {
        width: 70vw; 
    }
}

.projectlink:hover {
    text-decoration: none; /* Ensures underline is not shown on hover */
    border-bottom: 2px solid #4192D8; /* Specify the style as 'solid' */
}

.projectlink {
    text-decoration: none; /* Removes underline from all links with class 'projectlink' */
    color: #4192D8; /* Set your desired normal color here */
}

.projectlink .link-text + img {
    margin-left: 8px; /* Adds space between the text and the icon */
}

.startdiv{
    margin-right: 21vw; /* 25 sidebar width + 5 for open space */
}


/*
@media print {
    .profile-image {
            width: 20vw;
        }

        .sidebar {
            width: 20vw;
            position: fixed;
            left: 5vw;
            top: 8vh;
            margin-right: 20px;
        }
    
        .content {
            margin-left: 2vw;
            margin-right: 5vw;
            margin-top: 8vh;
        }

    .header{
        margin-top: 1vh;
        margin-bottom: 0.5vh;

    }
    .aboutme{
        margin: 1vh;
    }
    .mainPage{
        margin-bottom: 2vh;
        padding-bottom: 2vh;
        
    }
    .clear {
        clear: both;
    }
    .startdiv {
        width: 65vw;
        margin-bottom: 3vh;
    }
} */